
.login {
    height: 100vh;
    position: relative;
}

.login__bgimage {
    position: absolute;
    /* background-image: url('https://source.unsplash.com/random/1440x1229');
    background-repeat: no-repeat; */
    background-image: url(../../Assets/bg_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.5;
}

.login__contentdiv {
    position: absolute;
    top: 20vh;
    left: 35%;
    opacity: 0.8;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 25%;
    background: #fff;
    border-radius: 25px;
}

.login__alert {
    width: 100%;
}

.changepassword__bgimage {
    position: absolute;
    /* background-image: url('https://source.unsplash.com/random/1440x1229');
    background-repeat: no-repeat; */
    background-image: url(../../Assets/bg_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.5;
}

.forgotpassword__bgimage {
    position: absolute;
    /* background-image: url('https://source.unsplash.com/random/1440x1229');
    background-repeat: no-repeat; */
    background-image: url(../../Assets/bg_3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.5;
}
