* {
  margin: 0;
  font-family: 'Krona One', sans-serif;
  src: url(./Assets/KronaOne-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Krona One', sans-serif;
  src: url(./Assets/KronaOne-Regular.ttf);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Krona One', sans-serif;
  src: url(./Assets/KronaOne-Regular.ttf);
}

@font-face {
  font-family: 'Krona One', sans-serif;
  src: url(./Assets/KronaOne-Regular.ttf);
}